.cardList{
    display: grid;
    background-color: rgb(15, 15, 57);
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: min-content;
    gap: 1rem;
}